<nav class="dash-nav">
    <h1 class="dash-head">FileBase</h1>
    <div class="right">
        <div class="greet">Hello, <%= user.username %></div>
        <a href="/dashboard/logout">Logout</a>
    </div>    
</nav>