<footer>
    <a href="https://github.com/SouvikPaulCodes" target="_blank">
        <div>Created by SouvikPaulCodes</div>
        <img src="/images/github-mark-white.svg" alt="github">
    </a>
</footer>