<nav class="index-nav">
    <h1 class="index-head">FileBase</h1>
    <div class="links">
        <a href="/">Home</a>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
    </div>
</nav>